.tile {
  padding: 1rem;
  border: 1px solid;
  font-weight: bolder;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  grid-auto-rows: minmax(100px, auto);
  width: 80vh;
  max-width: 400px;
  margin: 0 auto;
}

main {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.2048-section {
  grid-column: 2;
  grid-row: 1;
}

.task-lists-section {
  grid-column: 1;
  grid-row: 1;
}

.alert {
  position: absolute;
  top: 20vh;
  height: 50vh;
  width: 50vw;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #d26868;
  background-color: #c5ff84;
  font-color: white;
  font-size: 5rem;
  text-align: center;
}

.alert-fatal {
  background-color: red;
  font-weight: bolder;
  font-color: black;
}

.task {
    padding-bottom: 0.25rem;
}

.task-todo {

}

.task-done {
  color: #a9a9a9;
}

.tile-value-0 {
  background-color: black;
}

.tile-value-2 {
  background-color: #c5ff84;
}

.tile-value-4 {
  background-color: #d26868;
}

.tile-value-8 {
  background-color: blueviolet;
}

.tile-value-16 {
  background-color: antiquewhite;
}

.tile-value-32 {
  background-color: chocolate;
}

.tile-value-64 {
  background-color: cyan;
}

.tile-value-128 {
  background-color: mediumaquamarine;
}

.tile-value-256 {
  background-color: magenta;
}

.tile-value-512 {
  background-color: navajowhite;
}

.tile-value-1024 {
  background-color: pink;
}
